html, body {
    height: 100%;
    margin: 0;
    background-color: #121212;
    color: #e0e0e0;
}

body {
    flex-direction: column;
}

hr {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, #333, #f4f4f4, #333);
    margin: 20px 0;
    position: relative;
}

hr::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(0, 0, 0, 0.2);
    transform: translateY(-50%);
    z-index: -1;
}

header {
    width: 60%;
    margin: 0 auto;
    background-color: #333;
    color: #e0e0e0;
    padding: 1rem 0;
    flex-shrink: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.header li {
    margin: 0 1rem;
}

.header a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    display: block;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header a:hover {
    color: #333;
    background-color: #e0e0e0;
    transform: scale(1.1);
}

.content {
    flex: 1;
    padding: 2rem;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 0 20%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

main {
    height: 100%;
}

.user-list {
    padding: 1rem;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 1rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.user-list h2 {
    color: #e0e0e0;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.user-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-list li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: #2c2c2c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.user-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #3b3b3b;
}

.username {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e0e0e0;
    margin: 0;
}

.users-search {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom:3%;
}

.users-search form {
    display: flex;
    gap: 10px;
}

.users-search input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 2px solid #444;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: #fff;
    font-size: 16px;
}

.users-search input[type="text"]:focus {
    border-color: #888;
    outline: none;
}

.users-search input[type="submit"], .users-search a {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.users-search input[type="submit"]:hover, .users-search a:hover {
    background-color: #666;
}

.users-search input[type="submit"]:active, .users-search a:active {
    background-color: #888;
}

.usermail {
    font-size: 1rem;
    color: #999;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 25%;
    right: 1rem;
    transform: translateY(-50%);
}

.user-list li:hover .usermail {
    opacity: 1;
}

hr {
    border: none;
    border-top: 1px solid #444;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #e0e0e0;
    font-weight: bold;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e1e;
    padding: 2rem;
}

.login-container h2 {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.login-form {
    background-color: #2c2c2c;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-form:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.login-form input[type="text"], .login-form input[type="password"] {
    width: 100%;
    padding: 1rem;
    border: 1px solid #444;
    border-radius: 4px;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background-color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

.login-form input[type="text"]:focus, .login-form input[type="password"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
    outline: none;
}

.login-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submit_admin {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submit_admin:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.submit_admin:active {
    background-color: #004494;
    transform: scale(0.98);
}

.add-dish {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    display: none;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s;
}


.toggle-button {
    background: #ffcc00;
    color: #121212;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    display: block;
    margin: 20px auto;
}

.toggle-button:hover {
    background: #ffb700;
    color: #fff;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.add-dish p {
    margin-bottom: 15px;
}

.add-dish label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.add-dish input[type="text"], .add-dish textarea, .add-dish input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.add-dish input[type="text"]:focus, .add-dish textarea:focus, .add-dish input[type="file"]:focus {
    border-color: #ffcc00;
    outline: none;
}

.add-dish input[type="submit"] {
    background: #ffcc00;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.add-dish input[type="submit"]:hover {
    background: #ffb700;
    color: #fff;
}

.add-dish select {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    appearance: none;
    background-color: #555555;
    color: #ffffff;
}

.add-dish select:focus {
    border-color: #ffcc00;
    outline: none;
    background-color: #444444;
}

.add-dish select option {
    background-color: #555555;
    font-size:15px;
    color: #ffffff;
    padding: 15px;
}

.add-dish select option:hover {
    background-color: #444444;
}

.message {
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message.info {
    background: #e7f1ff;
    color: #007bff;
}

.message.success {
    background: #d4edda;
    color: #155724;
}

.message.error {
    background: #f8d7da;
    color: #721c24;
}

.dish-list {
    margin: 20px auto;
    max-width: 800px;
    padding: 0 20px;
}

.dish-item {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.dish-item img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 8px;
}

.dish-item h2 {
    font-size: 20px;
    margin: 0;
    color: #5C5C5C;
    text-align:left;
}

.dish-item p {
    margin: 5px 0;
    color: #666;
}

.dish-item .price {
    font-size: 18px;
    color: #ffcc00;
    font-weight: bold;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #ff0000;
    transition: color 0.3s ease;
}

.delete-btn:hover {
    color: #cc0000;
}

.dish-container {
    padding: 0;
    overflow-y:auto;
}

.dish-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    max-width: 400px;
    background-color: #333;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dish-search input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #222;
    color: #ddd;
    transition: border-color 0.3s ease;
}

.dish-search input[type="text"]::placeholder {
    color: #777;
}

.dish-search input[type="text"]:focus {
    border-color: #ffcc00;
    outline: none;
}

.dish-search input[type="submit"] {
    background-color: #444;
    color: #ddd;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.dish-search input[type="submit"]:hover {
    background-color: #ffcc00;
    color: #222;
}

.dish-container.expanded {
    max-height: 1000px;
    padding: 20px;
}

.toggle-btn {
    background: #ffcc00;
    color: #121212;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    display: block;
    margin: 20px auto;
}

.toggle-btn:hover {
    background: #ffb700;
    color: #fff;
}

.dish-item {
    position: relative;
    border: 1px solid #444;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    overflow: hidden;
    background: #1e1e1e;
    color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dish-item-header {
    position: relative;
}

.dish-item-header img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.dish-item-body {
    padding-top: 10px;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    color: #ff4d4d;
    border: none;
    font-size: 34px;
    line-height: 1;
    cursor: pointer;
    transition: color 0.3s ease;
}

.delete-btn:hover {
    color: #e60000;
}

.dish-list {
    margin: 20px auto;
    max-width: 800px;
    padding: 0 20px;
}

.dish-item-body p {
    cursor: pointer;
    color: #ffcc00;
    transition: color 0.3s ease;
}

.dish-item-body p:hover {
    color: #ffb700;
}

.dish-item-body.editing input,
.dish-item-body.editing textarea {
    display: block;
    width: 100%;
    margin-top: 5px;
    background-color: #333;
    border: 1px solid #ffcc00;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
}

.dish-item-body.editing p {
    display: none;
}

.change_dish input[type="submit"] {
    background-color: #ffcc00;
    color: #333;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.change_dish input[type="submit"]:hover {
    background-color: #ffb700;
    color: #fff;
}

.change_dish input[name="status_on"] {
    background-color: #28a745;
}

.change_dish input[name="status_on"]:hover {
    background-color: #218838;
}

.change_dish input[name="status_off"] {
    background-color: #dc3545;
}

.change_dish input[name="status_off"]:hover {
    background-color: #c82333;
}

.add-dish {
    background-color: #333;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
}

.add-dish p {
    margin-bottom: 15px;
}

.add-dish label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
    font-weight: bold;
}

.add-dish input[type="text"],
.add-dish textarea,
.add-dish input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #555;
    color: #fff;
}

.add-dish input[type="submit"] {
    background-color: #f39c12;
    color: #333;
    border: none;
    padding: 15px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.add-dish input[type="submit"]:hover {
    background-color: #e67e22;
}

.message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
}

.message.success {
    background-color: #2ecc71;
    color: #fff;
}

.message.error {
    background-color: #e74c3c;
    color: #fff;
}

.logout-fr {
    text-align: center;
    margin: 20px 0;
}

.logout-bt {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-bt:hover {
    background-color: #2980b9;
}

.logout-bt:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.order-container {
    background-color: #2c2c2c;
    color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.order-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffcc00;
}

body {
    background-color: #2c2c2c;
    color: #f5f5f5;
    font-family: Arial, sans-serif;
}

h2 {
    color: #f1c40f;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.order-search {
    margin-bottom: 20px;
    text-align: center;
}

.order-search input[type="text"] {
    width: 60%;
    padding: 10px;
    border: 2px solid #f1c40f;
    background-color: #3b3b3b;
    color: #f5f5f5;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.order-search input[type="submit"] {
    padding: 10px 20px;
    background-color: #f1c40f;
    border: none;
    color: #2c2c2c;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.order-search input[type="submit"]:hover {
    background-color: #d4ac0d;
}

.order-sorting {
    display: none;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.3s ease, max-height 0.3s ease, padding 0.3s ease;
    opacity: 0;
    max-height: 0;
    padding: 0;
    overflow: hidden;
}

.order-sorting.show {
    display: flex;
    opacity: 1;
    max-height: 500px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.sort-option {
    margin: 5px;
}

.sort-option input[type="submit"] {
    background-color: transparent;
    border: 1px solid #4f4f4f;
    color: #f5f5f5;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
}

.sort-option input[type="submit"]:hover {
    background-color: #444444;
    border-color: #f1c40f;
}

.sort-option input[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(241, 196, 15, 0.5);
}

.toggle-sorting {
    cursor: pointer;
    color: #f5f5f5;
    background-color: #333;
    border: 1px solid #4f4f4f;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    text-transform: uppercase;
}

.container {
    display: flex;
    justify-content: center;
}

.toggle-sorting:hover {
    background-color: #444;
    color: #f1c40f;
    border-color: #f1c40f;
}

.order-list {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    gap: 20px;
}

.order-card {
    background-color: #3b3b3b;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    transition: transform 0.3s, background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.order-card:hover {
    background-color: #444;
    transform: translateY(-5px);
}

.order-header {
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 10px;
    margin-bottom: 15px;
    position: relative;
}

.button-container {
    position: absolute;
    align-items: center;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-confirm,
.button-delete,
.button-info,
.button-warning {
    background-color: #4caf50;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-confirm {
    background-color: #4caf50;
}

.button-confirm:hover {
    background-color: #38813B;
    color: #fff;
    transform: translateY(-3px);
}

.button-delete {
    background-color: #DC3545;
}

.button-delete:hover {
    background-color: #C82333;
    color: #fff;
    transform: translateY(-3px);
}

.button-info {
    background-color: #17a2b8;
}

.button-info:hover {
    background-color: #138496;
    color: #fff;
    transform: translateY(-3px);
}

.button-warning {
    background-color: #fd7e14;
}

.button-warning:hover {
    background-color: #e67d00;
    color: #fff;
    transform: translateY(-3px);
}

.order-number {
    font-size: 18px;
    font-weight: bold;
}

.order-details {
    margin-bottom: 15px;
}

.order-details p {
    margin: 5px 0;
    font-size: 16px;
}

.order-cart {
    margin-top: 10px;
    padding: 10px;
    background-color: #2a2a2a;
    border-radius: 5px;
}

.del-btn {
    background-color: #ff4c4c;
    color: #fff;
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 0px;
    bottom: 27px;
    transition: background-color 0.3s ease;
}

.delivery-details {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #2a2a2a;
    border-radius: 5px;
    color: #fff;
}

.delivery-details p {
    margin: 5px 0;
    font-size: 16px;
}

.delivery-details p:first-of-type {
    margin-bottom: 0;
}

.delivery-details .no-data {
    color: #ff4c4c;
    font-style: italic;
}

.message-container {
    background-color: #2c2c2c;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    font-family: Arial, sans-serif;
}

.message-card {
    background-color: #333;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    position: relative;
    display: flex;
    flex-direction: column;
}

.message-card:hover {
    transform: translateY(-5px);
}

.message-status-true {
    color: #4caf50;
}

.message-status-false {
    color: #ffcc00;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.message-number {
    font-size: 1.2rem;
    color: #fff;
}

.message-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #444;
    border-radius: 5px;
}

.btn-dark {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-dark:hover {
    background-color: #555;
    color: #fff;
    transform: scale(1.05);
}

.btn-dark:active {
    transform: scale(0.98);
}

.message-text {
    background-color: #555;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    flex: 1;
}

.delete-button {
    background-color: #ff4f4f;
    color: #fff;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
    position: relative;
}

.delete-button::before {
    content: "\00d7";
}

.delete-button:hover {
    background-color: #ff7878;
}

.reviewed-button {
    background-color: #4caf50;
    width: 32px;
    height: 32px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 15px;
    right: 15px;
}

.reviewed-button::before {
    content: "\2713";
    color: #fff;
    font-size: 15px;
}

.reviewed-button:hover {
    background-color: #66bb6a;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
}

.modal-content {
    background-color: #444;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    height: 60%;
    color: #fff;
    text-align: center;
    overflow-y: auto;
}

.confirm-button,
.cancel-button {
    background-color: #4caf50;
    border: none;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cancel-button {
    background-color: #ff4f4f;
}

.confirm-button:hover {
    background-color: #66bb6a;
}

.cancel-button:hover {
    background-color: #ff7878;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-msg {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #333;
    border-radius: 5px;
    flex-grow: 1;
}

.search-input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    font-size: 1rem;
    outline: none;
}

.search-input:focus::placeholder {
    opacity: 0;
}

.del-search-msg {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-left: 10px;
}

.search-msg:hover .del-search-msg {
    color: #ff4f4f;
}

.delsearch {
    background-color: #ff4f4f;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.delsearch:hover {
    background-color: #ff7878;
}

.reviews-container {
    width: 70%;
    margin: 0 auto;
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.review-title {
    text-align: center;
    color: #f0c674;
    font-size: 32px;
    margin-bottom: 20px;
}

.page-body {
    background-color: #1e1e1e;
    font-family: 'Arial', sans-serif;
    color: #f5f5f5;
}

.sort-buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.sort-button {
    background-color: #f0c674;
    color: transparent;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    position: relative;
    transition: transform 0.2s ease, background-color 0.3s;
}

.sort-button:hover {
    background-color: #e0b060;
    transform: scale(1.1);
}

.sort-button:active {
    transform: scale(0.9);
}

.sort-asc-button {
    background-image: url('/admin/static/images/button1.png');
    background-size: cover;
}

.sort-desc-button {
    background-image: url('/admin/static/images/button2.png');
    background-size: cover;
}

.arrow-up {
    display: inline-block;
    transform: rotate(0deg);
}

.arrow-down {
    display: inline-block;
    transform: rotate(180deg);
}

.review-item {
    padding: 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-left: 4px solid  #f0c674;
    line-height: 1.5;
    margin-bottom:25px;
}

.user-review-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.user-avatar img {
    border-radius: 50%;
    margin-right: 20px;
}

.user-info {}

.user-info p {
    color: #f0c674;
    margin: 0;
}

.user-message p {
    color: #ddd;
    font-size: 18px;
}

.admin-reply {
    display: flex;
    margin-top: 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.admin-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.admin-details {
    margin-left: 15px;
}

.admin-name {
    font-weight: bold;
    color: #f0c674;
    margin:0;
}

.admin-message{
    color: #f5f5f5;
    margin-top:30px;
    margin-bottom:0;
}

.reply-time {
    color: #f5f5f5;
    margin-top: 10px;
    margin:0;
}

.delete-button-review, .send-button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top:10px;
}

.delete-button-review:hover, .send-button:hover {
    background-color: #c0392b;
}

.reply-to-review input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #3b3b3b;
    color: #f5f5f5;
}

.reply-to-review input[type="text"]::placeholder {
    color: #bbb;
}

.reviews-list, .admin-reply {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    border-radius: 0px;
}

.pp {
    color: #ffffff;
    font-size: 1.2em;
    line-height: 1.5;
    padding: 5px;
    border-left: 4px solid  #f0c674;
    background: rgba(0, 0, 0, 0.2);
    margin: 0;
}

.review-block {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.star-rating {
    display: flex;
    margin-bottom: 10px;
}

.star {
    font-size: 24px;
    color: #ccc;
    transition: color 0.3s ease;
}

.star.filled {
    color: #ffcc00;
}

.statistic-container {
    max-width: 800px;
    margin: auto;
    background: #242424;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    animation: fadeIn 0.5s ease;
}

.statistic-online {
    position: relative;
    padding: 20px;
    background: #00796b;
    color: white;
}

.statistic-online p {
    font-size: 18px;
    color:#e0e0e0;
    margin: 5px 0;
}

.statistic-history {
    padding: 20px;
}

.statistic-history h2 {
    font-size: 24px;
    color:#e0e0e0;
    margin-top: 0;
}

.statistic-sort {
    margin-bottom: 15px;
    padding: 20px;
    background: #00796b;
    color: white;
}

.statistic-sort p {
    font-size: 18px;
    color: #e0e0e0;
    margin: 5px 0;
}

.sort-buttons {
    display: flex;
    gap: 10px;
}

.sort-buttons form {
    margin: 0;
}

.sort-buttons input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #009688;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.sort-buttons input:hover {
    background: #00796b;
}

.history-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.history-table th,
.history-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #333;
}

.history-table th {
    background: #00796b;
    color:#e0e0e0;
}

.history-table tr:hover {
    background: #333;
}

.no-records {
    color: #888;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.send-statistic {
    position: absolute;
    top: 25%;
    right: 10px;
}

.send-statistic input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: #009688;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.send-statistic input[type="submit"]:hover {
    background: #00796b;
    transform: translateY(-2px);
}

.send-statistic input[type="submit"]:active {
    background: #00675b;
    transform: translateY(1px);
}

.finance-container {
    max-width: 800px;
    margin: auto;
    background: #242424;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    animation: fadeIn 0.5s ease;
}

.finance-list {
    padding: 20px;
    color: #e0e0e0;
}

.finance-list ul {
    list-style-type: none;
    padding: 0;
}

.finance-list li {
    margin: 5px 0;
}

h2 {
    font-size: 24px;
    color: #e0e0e0;
    margin-top: 0;
    text-align: center;
}

canvas {
    margin-top: 30px;
    width: 100%;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.h1-container {
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #2a2a2a;
    border-bottom: 2px solid #444;
}

.cell {
    flex: 1;
}

.back-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #42a5f5;
    font-size: 1.1em;
    transition: color 0.3s;
}

.back-button:hover {
    color: #1e88e5;
}

.back-button svg {
    margin-right: 8px;
    fill: currentColor;
}

.h1-contact {
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

.cell.right {
    display: flex;
    justify-content: flex-end;
}

.chat-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333333;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    overflow-y: auto;
}

.support-message {
    display: flex;
    margin-bottom: 15px;
}

.user-message .message-content {
    display: flex;
    align-items: flex-start;
    max-width: 80%;
    margin-left: 0;
}

.admin-message .message-content {
    display: flex;
    align-items: flex-start;
    max-width: 80%;
    margin-left: auto;
}

.message-text {
    background-color: #2a2a2a;
    border-radius: 8px;
    padding: 10px 15px;
    color: #e0e0e0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 0 10px;
}

.user-message .message-text {
    background-color: #3949ab;
    color: #ffffff;
}

.admin-message .message-text {
    background-color: #333;
    font-size:16px;
    color: #f1f1f1;
}

.message-text .name {
    font-weight: bold;
    color: #80cbc4;
    margin-top: 0;
    margin-bottom: 0;
}

.message-text .admin-name {
    font-weight: bold;
    color: #F2CC08;
    margin-bottom: 5px;
}

.message-text .time {
    font-size: 0.85em;
    color: #888;
    margin-top: 5px;
}

.message-text .text {
    margin-top: 5px;
    color: #e0e0e0;
    font-size:16px;
}

.contact-user-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-divider {
    border: none;
    border-top: 1px solid #555;
    margin: 15px 0;
}

.message-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 20px auto;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.message-input {
    padding: 12px;
    font-size: 1em;
    border: 2px solid #333;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
    background-color: #333;
    color: #e0e0e0;
}

.message-input::placeholder {
    color: #757575;
}

.message-input:focus {
    border-color: #42a5f5;
    box-shadow: 0 0 5px rgba(66, 165, 245, 0.5);
}

.contact-chat-submit-button {
    padding: 12px;
    font-size: 1em;
    border: none;
    background-color: #42a5f5;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.contact-chat-submit-button:hover {
    background-color: #1e88e5;
    transform: translateY(-2px);
}

.contact-chat-submit-button:active {
    transform: translateY(0);
}

.reply_support_chat {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #2a2a2a;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.reply_support_chat input[type="text"] {
    padding: 10px;
    border: 2px solid #444;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 1em;
    color: #ffffff;
    background-color: #2a2a2a;
}

.reply_support_chat input[type="submit"] {
    padding: 10px;
    font-size: 1em;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.reply_support_chat input[type="text"]:hover {
    border-color: #0056b3;
}

.reply_support_chat input[type="text"]:focus {
    border-color: #0056b3;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 87, 179, 0.5);
}

.reply_support_chat input[type="text"]:active {
    border-color: #0056b3;
}

.reply_support_chat input[type="submit"]:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.reply_support_chat input[type="submit"]:active {
    transform: translateY(0);
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

.header-container h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    color: #fff;
}

.header-container img {
    border-radius: 10px;
}

.href-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.block-href {
    position: relative;
    display: flex;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
    background: #333;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.block-href a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.block-href img {
    width: 60%px;
    margin-left:5%;
    height: 60%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.text-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.text-content h2 {
    margin: 0;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.text-content .description {
    opacity: 0;
    margin-left:10%;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    font-size: 1rem;
    color: #e0e0e0;
}

.block-href:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.block-href:hover h2 {
    transform: translateY(-20px);
}

.block-href:hover .description {
    opacity: 1;
    transform: translateY(0);
}

.block-href-visits {
    background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.block-href-finance {
    background: linear-gradient(135deg, #f093fb, #f5576c);
}

.special-offers-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}

.discounts-list {
    flex: 1;
    margin-right: 1rem;
    max-width: 50%;
}

.special-card-title {
    font-size: 16px;
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.special-discount-text,
.special-original-price,
.special-discount-price {
    margin-bottom: 0.5rem;
}

.special-discount-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.special-card {
    background-color: #333333;
    border-radius: 8px;
    padding: 1rem;
    color: #f5f5f5;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    max-width:110px;
}

.special-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
}

.special-card-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.slider {
    flex: 1;
    margin-left: 1rem;
    position: relative;
}

.special-slides {
    position: relative;
    overflow: hidden;
}

.special-slide {
    display: none;
    text-align: center;
}

.special-dish-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.special-dish-info {
    background-color: #333333;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    color: #f5f5f5;
}

.special-slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #f5f5f5;
    font-size: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
}

.prev {
    left: 5px;
}

.next {
    right: 5px;
}

.remove-discount-dish {
    position: absolute;
    top: 5px;
    right: 5px;
}

.remove-discount-dish input[type="submit"] {
    background-color: transparent;
    border: none;
    color: #f5f5f5;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s;
}

.remove-discount-dish input[type="submit"]:hover {
    color: #ff4c4c;
}

.editor-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.editor-buttons button {
    background-color: #333;
    color: #f1f1f1;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editor-buttons button:hover {
    background-color: #444;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 700px;
    position: relative;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #888;
    font-size: 24px;
    cursor: pointer;
}

.dish-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.dish-item {
    position: relative;
    text-align: center;
}

.dish-button {
    background: none;
    border: none;
    cursor: pointer;
}

.dish-button img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.dish-button:hover img {
    transform: scale(1.05);
}

.dish-name {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #f1f1f1;
    padding: 5px;
    border-radius: 0 0 8px 8px;
    transition: opacity 0.3s ease;
}

.dish-item:hover .dish-name {
    opacity: 1;
}

.discount-input {
    margin-bottom: 8px;
    padding: 5px;
    width: 80%;
    background-color: #3a3a3a;
    color: #f1f1f1;
    border: none;
    border-radius: 4px;
}

.modal.show {
    display: flex;
}
