<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{url_for('.static', filename='style.css')}}" rel="stylesheet">
     <link rel="icon" href="/static/images/logo1.png" type="image/png">
    <title>{{title}}</title>
</head>
<body>
{%block header %}
<header>
    <div class="header">
        <ul>
            {% for item in menu %}
            <li><a href="{{url_for(item.url)}}">{{item.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
</header>
{% endblock %}
<div class="content">
    <main>
        {%block content %}
        {% endblock %}
    </main>
</div>
</body>

</html>